    body{
      text-align: center;  
      background: url("../images/bg.jpeg");
      background-size: cover; 
      background-position: center;
      background-repeat: no-repeat;
      color: white;
      font-family: helvetica;
    }
    p{
      font-size: 22px;    
    }
    
    input{
      border: 0;    
      padding: 10px;
      font-size: 18px;
      border-radius: 15px;
    }

    input[type="submit"] {
      background: #0094C1;
      color: white;
    }
    
    input[type="email"] {
      background: white;
      color: #0094C1;
    }


.imgProfil{
  width: 204px;
  height: 206px
  border-radius: 200px;
  border:solid white 5px;
}